<div class="fotos">
  <div>
    <a href="#photos/{{aid}}">
      <strong>{{title}}</strong>
      <span>
        <em>
          <small>{{size}}</small><br />
          фотографий
        </em>
        <img src="{{thumb_src}}" alt="attr(title)">
      </span>
    </a>
  </div>
</div>