<h1>Контакты</h1>
<div class="row">
  <div class="col-lg-3">
    т. 38-40-87<br />
    т. 38-23-41<br />
    <a href="http://vk.com/gangsteromsk">vk.com/gangsteromsk</a><br />
    ул. Раздольная 1/1
  </div>
  <div class="col-lg-9">
    <iframe src="/map.html"></iframe>
  </div>
</div>