<h1>Цены</h1>
<table class="table table-striped table-prices">
  <tbody>
    <tr>
      <th>Наименование <br></th>
      <th style="width: 300px;"><span style="color: #d95d1a;">Стоимость </span></th>
      <th>Примечание <br></th>
    </tr>
    <tr>
      <td>Прокат оборудования</td>
      <td>150 руб. с человека<br></td>
      <td>
        <p>
          Маркер заправленный воздухом, маска, костюм, перчатки, девушкам жилет.<br />
          Именинникам бесплатно.
        </p>
      </td>
    </tr>
    <tr>
      <td>Шары</td>
      <td>100 шт. - 200 руб.<br>
        <p>
          Коробка 2000 шаров - 3500 руб.<br />
          3 коробки (6000 шаров) - 10000 рублей.
        </p>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>Выездные игры<br></td>
      <td>
        <p>
          Аренда оборудования - 150 руб. с человека<br />
          Коробка шаров (2000 шт.) - 3500 руб.<br />
          + транспортные расходы
        </p>
      </td>
      <td>Транспортные расходы: в черте города 500 рублей, за городом 10 руб./км.</td>
    </tr>
    <tr>
      <td>Защитный жилет</td>
      <td>50 рублей</td>
      <td>Девушкам и детям до 12 лет - бесплатно.</td>
    </tr>
    <tr>
      <td>Удлененный ствол</td>
      <td>100 руб.</td>
      <td>Именинникам бесплатно.<br></td>
    </tr>
    <tr>
      <td>Дым армейский, РДГ-2</td>
      <td>250 руб.</td>
      <td>Дым игровой применяется для маскировки, рекомендован для использования игроками в страйкбол и пейнтбол.</td>
    </tr>
    <tr>
      <td>Дым пейнтбольный</td>
      <td>200 руб.</td>
      <td>Безотказная, всепогодная, неприхотливая дымовая шашка, не требующая спичек - активируется выдергиванием кольца. Небольшая, но дымит интенсивно. Дым белый, не раздражающих органов зрения и дыхания.</td>
    </tr>
    <tr>
      <td>Граната пейнтбольная</td>
      <td>250 руб.</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Автоматический маркер<br></td>
      <td>100 руб.<br></td>
      <td>Имеет три режима стрельбы: одиночный, по три выстрела и автомат.</td>
    </tr>
    <tr>
      <td>Зона отдыха<br></td>
      <td>БЕСПЛАТНО</td>
      <td>Армейская палатка, столы, стулья, мангал.</td>
    </tr>
    <tr>
      <td>Аренда Мега-палатки</td>
      <td>
        <p>
          6000 р. в городе<br />
          за городом +транспортны расходы 10 руб./км.
        </p>
      </td>
      <td>
        <p>
          Размер дна: Ø 12 м<br />
          Высота палатки по центру: 6,80 м<br />
          Высота боковых стенок: 2,00 м<br />
          S 113м2<br />
          в стоимость входит доставка, монтаж, демонтаж
        </p>
      </td>
    </tr>
  </tbody>
</table>
<p>По мимо основных услуг предлагаем проведение активных корпоративных мероприятий. Для Вас мы готовы организовать:<br>- веревочные курсы;<br>- спартакиады;<br>- туристические слеты;<br>- сплавы;<br>Так же предоставляем в аренду на любое Ваше мероприятие:<br>- магапалатка (110 кв. м.)<br>- армейская палатка (60 кв. м.)<br>- скалодром<br>- пластиковая мебель<br>- пейнтбольное оборудование<br>- генератор;</p>
<p>Цены на корпоративные мероприятия и сценарные игры зависят от ряда  факторов: количества участников, спектра услуг, места проведения - и  оговариваются отдельно.</p>